@model List<Modelo.Alumno>
@{ 
        
    ViewBag.title = "Alumnos";
}
<h2 class="page-header">
    <a href="~/home/crud" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-plus-sign"></span>Nuevo Alumno
    </a>
    Alumnos
</h2>
<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <thead>
        <tr> 
            <th style="width:200px;">Nombre</th>
            <th style="width:200px;">Sexo</th>
            <th style="width:200px;">Fecha Nacimiento</th>
            <th style="width:100px;"></th>
        </tr>
    </thead>
    <tbody>
     
           @foreach (var m in Model)
           {
            <tr>
                <th>@(m.Nombre+" "+m.Apellidos)</th>
                <th>@(m.Sexo =="1"?"Hombre":"Mujer")</th>
                <th>@m.FechaNacimiento</th>
                <th style="width:100px;">
                    <a class="btn  btn-default " href="~/home/ver/@m.id" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a class="btn  btn-primary " href="~/home/crud/@m.id" data-toggle="tooltip" data-placement="top" title="Editar Alumno">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a onclick="return confirm('¿Desea eliminar?');" class="btn btn-danger" href="~/home/eliminar/@m.id" data-toggle="tooltip" data-placement="top" title="Eliminar Alumno">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>
                
            </tr>
           }
    </tbody>

</table>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
