@model List<Modelo.Curso>
@{
    ViewBag.Title = "Cursos";
}

<h2 class="page-header">
    <a href="~/curso/crud" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-plus-sign"></span>Nuevo Curso
    </a>
    Cursos
</h2>

<table class="table table-bordered table-hover table-responsive table-condensed table-striped">
    <thead>
        <tr>
            <th style="width:200px;">Cursos</th>
            <th style="width:10px;"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var m in Model)
        {
            <tr>
                <th>@(m.Nombre)</th>
                <th style="width:100px;">
                    <a class="btn btn-default " href="~/curso/ver/@m.id" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a class="btn  btn-primary " href="~/curso/crud/@m.id" data-toggle="tooltip" data-placement="top" title="Editar Curso">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a onclick="return confirm('¿Desea eliminar?');" class="btn  btn-danger" href="~/curso/eliminar/@m.id" data-toggle="tooltip" data-placement="top" title="Eliminar Curso">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </th>

            </tr>
        }
    </tbody>

</table>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>