@model Modelo.Curso
@{
    ViewBag.Title = "ver";
}

<h2>Detalles del Curso</h2>
<ol class="breadcrumb">
    <li><a href="~/curso">Curso</a></li>
    <li class="active">@(Model.Nombre)</li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">Informacion Personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Curso:</dt>
            <dd>@Model.Nombre</dd>
        </dl>
    </div>
</div>

@if (Model.AlumnoCurso.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">Alumnos del Cursos Asignados</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th style="width:60px;">Nota</th>
                </tr>
            </thead>
            @foreach (var c in Model.AlumnoCurso)
            {
                <tr>
                    <td>@(c.Alumno.Nombre + " " + c.Alumno.Apellidos)</td>

                    <td class="text-right"><span class="badge">@c.Nota</span> </td>
                </tr>
            }
        </table>

    </div>
}
else
{
    <p><b>No hay Alumnos asignados a este curso.</b></p>

}

<div class="text-lefth">
    <a class="btn btn-sm btn-default " href="~/curso/">
        <span class="glyphicon glyphicon-arrow-left"></span>Atras
    </a>
</div>